/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400&family=Poppins:wght@300;500&display=swap');
/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Light gray background */
}
/* Header styles */
header {
    background-color: #fff; /* Dark background for header */
    color: #0255bd; /* White text color */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Padding for top and bottom */
    font-family:"Poppins",system-ui;
    letter-spacing: 1px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin-top: 0; /* Remove default margin */
}

/* Main styles */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Box styles */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.member {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    flex: 1 1 calc(33.333% - 40px); /* responsive width calculation */
    box-sizing: border-box;
    scale: 1;
    transition: all 0.3s;
}

.member img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.member p {
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
}

.member a {
    text-decoration: none;
    color: #0073e6;
    font-size: 1em;
}

.member a i {
    margin-right: 5px;
}

.member:hover{
    scale: 1.025;
}
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .member {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .member {
        flex: 1 1 calc(100% - 40px);
        scale: 1;
    }
}

@media (max-width: 480px) {
    .back-button {display: none;}
    header {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .member img {
        width: 120px;
        height: 120px;
    }

    .member h2 {
        font-size: 1.2em;
    }

    .member a {
        font-size: 1em;
    }
    header {
        padding: 30px 0;
    }
}