/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-right: 40px;
}

.input-group input:focus {
    border-color: #007BFF;
}

.password-group .toggle-password {
    position: absolute;
    top: 36px;
    right: 10px;
    cursor: pointer;
}

.password-group .toggle-password .eye-icon {
    font-size: 18px;
    color: #000000;
    margin-top: 3px;
}

.password-group .toggle-password .eye-icon.show {
    color: #007BFF;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#login-message {
    margin-top: 15px;
    text-align: center;
    color: #f00;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: 96%;
    }

    .login-box h2 {
        font-size: 20px;
    }

    .input-group label {
        font-size: 15px;
    }

    .input-group input {
        padding: 7px;
        font-size: 15px;
    }

    button {
        padding: 8px;
        font-size: 15px;
    }

    #login-message {
        font-size: 12px;
    }
}
